# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\czj\Desktop\SSM¿ò¼Ü\04-springboot\Ô´Âë\springboot\springboot_09_ssm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
